{{ define "title" }}
  <h1>{{ .Title }}</h1>
{{ end }}

{{ define "main" }}
  {{ .Content }}
  <div class="members">
  {{ range .Pages }}
    <div class="member">
      <h3>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </h3>
      {{ with .Params.tags }}
        {{ if ge (len .) 1 }}
          <div class="tags">
            {{ range . }}
              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/" class="tag">{{ . }}</a>
            {{ end -}}
          </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
  </div>
{{ end }}
